<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dr. Pet</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/Novo/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
        <link rel="stylesheet" href="~/Novo/css/style.css" />
        <link rel="stylesheet" href="~/css/Views.css" />

        <link rel="stylesheet" href="~/assets/css/flaticon.css">

        <!-- Syncfusion Essential JS 2 Styles -->
        <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />

        <!-- Syncfusion Essential JS 2 Scripts -->
        <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/Novo/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
        <link rel="stylesheet" href="~/Novo/css/style.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/Views.css" />


        <link rel="stylesheet" href="~/assets/css/flaticon.css">

        <!-- Syncfusion Essential JS 2 Styles -->
        <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />

        <!-- Syncfusion Essential JS 2 Scripts -->
        <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">
    </environment>
</head>
<body>
      <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="~/Novo/img/drpetlogo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Top Bar -->
    <div class="top-bar">
        <div class="container">
            <div class="col-12 text-right">
                <p><a href="tel:+916728644">Call us at 1 (800) HTML - CSS</a></p>
            </div>
        </div>
    </div>
    <!-- End Top Bar -->
    <!-- Navigation -->
    <nav class="navbar bg-light navbar-light navbar-expand-lg">
        <div class="container col-12">
            <!-- Ver se nao tem mal ter aqui o col-12-->

            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                <img src="~/Novo/img/drpetlogo.png"
                     alt="Logo" title="Logo">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a href="" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="" class="nav-link">Services</a></li>
                    <li class="nav-item"><a href="" class="nav-link">Contacts</a></li>
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        if (this.User.IsInRole("Admin"))
                        {                           
                            <li class="dropdown nav-item">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Admin<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a asp-area="" asp-controller="Admins" asp-action="Index" class="nav-link">Admin</a></li>
                                    <li class="nav-item"><a asp-area="" asp-controller="Clients" asp-action="Index" class="nav-link">Clients</a></li>
                                    <li class="nav-item"><a asp-area="" asp-controller="Doctors" asp-action="Index" class="nav-link">Doctors</a></li>
                                    <li class="nav-item"><a asp-area="" asp-controller="Specializations" asp-action="Index" class="nav-link">Specializations</a></li>
                                    <li class="nav-item"><a asp-area="" asp-controller="Account" asp-action="Register" class="nav-link">Register</a></li>
                                </ul>
                            </li>
                        }
                        <li class="nav-item"><a asp-area="" asp-controller="Animals" asp-action="Index" class="nav-link">Animals</a></li>
                        <li class="nav-item"><a asp-area="" asp-controller="Appointments" asp-action="Index" class="nav-link">Appointments</a></li>
                    }
                </ul>
            </div>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto mr-5">
                    <!-- Ver se nao tem mal ter aqui o mr-5-->

                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item"><a asp-area="" asp-controller="Account" asp-action="Profile" class="nav-link">@this.User.Identity.Name</a></li>
                        <li class="nav-item"><a asp-area="" asp-controller="Account" asp-action="Logout" class="nav-link">Logout</a></li>
                    }
                    else
                    {
                        <li class="nav-item"><a data-toggle="modal" data-target="#Login" class="nav-link">Login</a></li>
                    }

                </ul>
            </div>

        </div>
    </nav>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/Novo/js/bootstrap.min.js"></script>
        <script src="~/Novo/js/popper.min.js"></script>
        <!--<script src="~/lib/font-awesome/js/all.min.js"></script>-->
        <script src="~/lib/moment.js/moment.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="~/Novo/js/bootstrap.min.js"></script>
        <script src="~/Novo/js/popper.min.js"></script>
        <!--<script src="~/lib/font-awesome/js/all.min.js"></script>-->
        <script src="~/lib/moment.js/moment.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    <partial name="_Login" model="new LoginViewModel()" />
    <!--TODO VER SE ISTO NAO CAUSA PROBLEMAS -->
    <partial name="_CookieConsentPartial" />

    <div>
        @RenderBody()
    </div>

    <!-- Start Footer -->
    <footer>
        <div class="container">
            <div class="row text-light text-center py-4 justify-content-center">
                <div class="col-sm-10 col-md-8 col-lg-6">
                    <img src="~/Novo/img/drpetlogo.png" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet maxime saepe itaque expedita ipsa cumque nostrum odit consequatur, assumenda dolorum.</p>
                    <ul class="social pt-3">
                        <li><a href="" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <!-- Start Socket -->
    <div class="socket text-light text-center py-3">
        <p>&copy; <a href="" target="_blank">Lorem ipsum dolor sit.</a></p>
    </div>
    <!-- End Socket -->

    @RenderSection("Scripts", required: false)

    <!-- Syncfusion Essential JS 2 ScriptManager -->
    <ejs-scripts></ejs-scripts>
</body>
</html>


