@model DrPet.Web.Models.ChangeUserViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="section-padding2">
    <div class="container">
        <div class="row justify-content-sm-center">
            <div class="cl-xl-7 col-lg-8 col-md-10">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-70">
                    <h2>Change User</h2>
                    <hr />
                </div>
            </div>
        </div>

        <div class="row justify-content-sm-center mt-30">
                <form method="post">
                    <div asp-validation-summary="ModelOnly"></div>

                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DateOfBirth" class="control-label"></label>
                        <input asp-for="DateOfBirth" class="form-control" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DocumentNumber" class="control-label"></label>
                        <input asp-for="DocumentNumber" class="form-control" />
                        <span asp-validation-for="DocumentNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StreeName" class="control-label"></label>
                        <input asp-for="StreeName" class="form-control" />
                        <span asp-validation-for="StreeName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Location" class="control-label"></label>
                        <input asp-for="Location" class="form-control" />
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PostalCode" class="control-label"></label>
                        <input asp-for="PostalCode" class="form-control" />
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>

                    <input type="hidden" asp-for="User.UserName" />
                    <input type="hidden" asp-for="Role" />

                    @if (this.User.Identity.IsAuthenticated && Model.Role == "Doctor")
                    {
                        <div class="form-group">
                            <label asp-for="Doctor.Specialization" class="control-label"></label>
                            <input asp-for="Doctor.Specialization" class="form-control" />
                            <span asp-validation-for="Doctor.Specialization" class="text-danger"></span>
                        </div>

                        <input type="hidden" asp-for="Doctor.Id" />
                    }

                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-primary" />
                        <a asp-action="ChangePassword" class="btn btn-success">Change Password</a>
                    </div>

                    <div class="text-success">@ViewBag.UserMessage</div>
                </form>
            </div>
        </div>
    </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
