@{
    ViewData["Title"] = "Confirm email";
}

<div class="container View">
    <div class="row justify-content-center">
        <h2>Email Confirmed</h2>
        <div>
            <p>
                Thank you for confirming your email. Now you can login into system.
            </p>
        </div>
    </div>
</div>