@{
    ViewData["Title"] = "Not Authorized";
}

<div class="container View">
    <div class="row justify-content-center">
    <h2>YOU ARE NOT AUTHORIZED TO PERFORM THIS ACTION!</h2>
    </div>
</div>
