@{
    ViewData["Title"] = "Home Page";
}

<!-- Image Carousel -->
<div id="carousel" class="carousel slide" data-ride="carousel"
     data-interval="65000">

    <!-- Carousel Content -->
    <div class="carousel-inner">

        <div class="carousel-item active">
            <img src="~/Novo/img/carousel/1.jpg" alt="" class="w-100">
            <div class="carousel-caption">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-8 bg-custom d-none d-md-block py-3 px-0">
                            <h1>Bootsrap</h1>
                            <div class="border-top border-primary w-50 mx-auto my-3"></div>
                            <h3 class="pb-3">Complete Website Design</h3>
                            <a href="" class="btn btn-danger btn-lg mr-2">View Demo</a>
                            <a href="" class="btn btn-primary btn-lg ml-2">Start Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img src="~/Novo/img/carousel/2.jpg" alt="" class="w-100">
            <div class="carousel-caption">
                <div class="container">
                    <div class="row justify-content-end text-right">
                        <div class="col-5 bg-custom d-none d-lg-block py-3 px-0 pr-3">
                            <p class="lead pb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, animi?</p>
                            <a href="" class="btn btn-danger btn-lg mr-2">Lorem, ipsum.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img src="~/Novo/img/carousel/3.jpg" alt="" class="w-100">
            <div class="carousel-caption">
                <div class="container">
                    <div class="row justify-content-start text-left">
                        <div class="col-7 bg-custom d-none d-lg-block py-3 px-0 pl-3">
                            <h3 class="pb-3">Build For Tablets</h3>
                            <p class="lead pb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, animi?</p>
                            <a href="" class="btn btn-primary btn-lg ml-2">Start Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- End Carousel Content -->
    <!-- Previous & Next Buttons -->
    <a href="#carousel" class="carousel-control-prev" role="button"
       data-slide="prev">
        <span class="fas fa-chevron-left fa-2x"></span>
    </a>

    <a href="#carousel" class="carousel-control-next" role="button"
       data-slide="next">
        <span class="fas fa-chevron-right fa-2x"></span>
    </a>
    <!-- End Previous & Next Buttons -->
</div>

<!-- End Image Carousel -->
<!-- Main Page Heading -->
<div class="col-12 text-center mt-5">
    <h1 class="text-dark pt-4">Built with Ease</h1>
    <div class="border-top border-primary w-25 mx-auto my-3"></div>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
</div>

<!-- Three Column Section -->
<div class="container">
    <div class="row my-5">
        <div class="col-md-4 my-4">
            <img src="~/Novo/img/1.jpg" alt="" class="w-100">
            <h4 class="my-4">Lorem ipsum dolor sit.</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae cumque nesciunt eos dolorem quaerat similique ab in quia, laborum soluta.</p>
            <a href="" class="btn btn-outline-dark btn-md">Our Story</a>
        </div>

        <div class="col-md-4 my-4">
            <img src="~/Novo/img/2.jpg" alt="" class="w-100">
            <h4 class="my-4">Lorem ipsum dolor sit.</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae cumque nesciunt eos dolorem quaerat similique ab in quia, laborum soluta.</p>
            <a href="" class="btn btn-outline-dark btn-md">Our Story</a>
        </div>

        <div class="col-md-4 my-4">
            <img src="~/Novo/img/3.jpg" alt="" class="w-100">
            <h4 class="my-4">Lorem ipsum dolor sit.</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae cumque nesciunt eos dolorem quaerat similique ab in quia, laborum soluta.</p>
            <a href="" class="btn btn-outline-dark btn-md">Our Story</a>
        </div>
    </div>
</div>

<!-- End Three Column Section -->
<!-- Emoji Navbar First -->
<a class="navbar bg-primary sticky-top emoji" href="#emoji" role="button"
   data-toggle="collapse"></a>

<!-- Start Fixed Background IMG -->
<div class="fixed-background">
    <div class="row text-light py-5">
        <div class="col-12 text-center">

            <h1>Lorem ipsum dolor sit amet.</h1>
            <h3 class="py-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, delectus?</h3>

            <button type="button" data-toggle="modal" data-target="#modal1" class="btn btn-primary btn-lg mr-2">Lorem, ipsum.</button>

            <button type="button" data-toggle="modal" data-target="#modal1" class="btn btn-danger btn-lg ml-2">Lorem.</button>
        </div>
    </div>

    <div class="fixed-wrap">
        <div class="fixed"></div>
    </div>
</div>
<!-- End Fixed Background IMG -->
<!-- Emoji Navbar Second -->
<a class="navbar bg-primary sticky-top emoji" href="#emoji" role="button"
   data-toggle="collapse"><i class="fas fa-plug"></i></a>

<div class="collapse" id="emoji">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3"><img src="~/Novo/img/emoji/panda.gif" alt="" class="w-100"></div>
            <div class="col-sm-6 col-md-3"><img src="~/Novo/img/emoji/poo.gif" alt="" class="w-100"></div>
            <div class="col-sm-6 col-md-3"><img src="~/Novo/img/emoji/unicorn.gif" alt="" class="w-100"></div>
            <div class="col-sm-6 col-md-3"><img src="~/Novo/img/emoji/chicken.gif" alt="" class="w-100"></div>
        </div>
    </div>
</div>

<!-- Modal Popup -->
<div class="modal fade" id="modal1">
    <div class="modal-dialog">
        <img src="~/Novo/img/emoji/poo.gif" alt="" class="w-100">
    </div>
</div>

<!-- Start Two Column Section -->
<div class="container my-5">
    <div class="row py-4">
        <div class="col-lg-4 mb-4 my-lg-auto">
            <h1 class="text-dark font-weight-bold mb-3">Lorem ipsum dolor sit.</h1>
            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa eaque placeat dolorum itaque neque explicabo ducimus. Totam praesentium dolorem blanditiis?</p>
            <a href="" target="_blank" class="btn btn-outline-dark btn-lg">Lorem, ipsum dolor.</a>
        </div>

        <div class="col-lg-8"><img src="~/Novo/img/code.jpg" alt="" class="w-100"></div>
    </div>
</div>
<!-- End Two Column Section -->
<!-- Start Jumbotron -->
<div class="jumbotron py-5 mb-0">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-lg-8 col-xl-9 my-auto">
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
            </div>

            <div class="col-md-5 col-lg-4 col-xl-3 pt-4 pt-md-0">
                <a href="" class="btn btn-primary btn-lg">Lorem, ipsum dolor.</a>
            </div>
        </div>
    </div>
</div>
<!-- End Jumbotron -->