
<ejs-schedule id="NOVONOME" height="550">
    <e-schedule-views>
        <e-schedule-view option="WorkWeek"></e-schedule-view>
    </e-schedule-views>
</ejs-schedule>



<table class="table user-list">
    <thead>
        <tr>
            <th><span>Client</span></th>
            <th><span>Animal</span></th>
            <th><span>Doctor</span></th>
            <th><span>Date</span></th>
            <th class="text-center"><span>Status</span></th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>    
        BODYNOVO
    </tbody>
</table>

<ejs-scripts></ejs-scripts>