@model DrPet.Web.Models.AppointmentViewModel

@{
    ViewData["Title"] = "Create";
}

@using Syncfusion.EJ2
@{


    var dataManager = new DataManager()
    {
        Url = "GetData?username=diogo.silva_92@hotmail.com",
        Adaptor = "UrlAdaptor",
        CrudUrl = "UpdateData",
        CrossDomain = true
    };
}

<div class="View">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="mb-5">
                <ejs-schedule id="schedule" height="550" startHour="09:00" endHour="18:00"
                              allowMultiCellSelection="false" actionComplete="Test">
                    <e-schedule-views>
                        <e-schedule-view option="WorkWeek"></e-schedule-view>
                    </e-schedule-views>
                    <e-schedule-eventsettings dataSource="dataManager"></e-schedule-eventsettings>
                </ejs-schedule>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        function Test(args) {
            debugger
            if (args.requestType === 'eventCreate') {
                window.location.href = '/Home/Index';
            }
        };

    </script>
}
