@model IEnumerable<DrPet.Web.Data.Entities.Appointment>

@{
    ViewData["Title"] = "Appointments";
}

<div id="appointmentTable">
    <partial name="_TablePartial" />
</div>

<ejs-toast id="toast_type" created="createdToast">
    <e-toast-position X="Right"></e-toast-position>
</ejs-toast>

<div class="modal fade" id="ModalTeste">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold">Appointment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="row justify-content-start">
                    <div>
                        <br />
                        <label id="labeldata"></label>
                        <span class="font-weight-bold">Doctor: </span>
                        <span id="modalDoctor"></span>
                        <br />
                        <br />
                        <span class="font-weight-bold">Client: </span>
                        <span id="modalClient"></span>
                        <br />
                        <br />
                        <span class="font-weight-bold">Animal: </span>
                        <span id="modalAnimal"></span>
                        <br />
                        <br />
                        <span class="font-weight-bold">Date: </span>
                        <span id="modalDate"></span>
                        <br />
                        <br />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div id="AcceptCancel">
                    <input type="button" class="btn btn-success" value="Accept" id="Accept" />
                    <input type="button" class="btn btn-danger" value="Deny" id="Cancel" />
                </div>
                <div id="AreYouSure">
                    <span>Are you sure?</span>
                    <input type="button" class="btn btn-success" value="Confirm" id="AreYouSureConfirm" />
                    <input type="button" class="btn btn-danger" value="Cancel" id="AreYouSureCancel" />
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var toastObj;

    function createdToast(args) {
        toastObj = this;
    }

    var toasts = [
        { title: 'Success!', content: 'Appointment confirmed.', cssClass: 'e-toast-success', icon: 'e-success toast-icons' },
        { title: 'Canceled!', content: 'Appointment not aproved.', cssClass: 'e-toast-danger', icon: 'e-error toast-icons' }
    ];

    $(document).on('click', '.changeScheduleDate', function (event) {
        console.log('CLICK EVENT');
        console.log(event.currentTarget);
        var selectedDate = event.currentTarget.attributes[1].value;

        date = moment(selectedDate, 'DD/MM/YYYY').format("MM/DD/YYYY"); //TODO VER OS FORMATOS DA DATA DO CALENDARIO, DE MOMENTO ACEITA MM/DD/YYYY
        console.log(selectedDate);

        console.log(date);

        var scheduleObj = document.getElementById('schedule').ej2_instances[0];
        scheduleObj.selectedDate = date;

        $("html, body").animate({ scrollTop: 0 }, "slow");
    });
</script>

<script>
    $(document).on('keyup', '#searchbox', function () {
        var searchtext = $(this).val();
        $("table.user-list tr").each(function (results) {
            if (results !== 0) {
                var name = $(this).find("td:nth-child(1)").text();
                var phone = $(this).find("td:nth-child(5)").text();
                var searchName = name.indexOf(searchtext) !== 0 && name.toLowerCase().indexOf(searchtext.toLowerCase()) < 0;
                var searchPhone = phone.indexOf(searchtext) !== 0 && phone.toLowerCase().indexOf(searchtext.toLowerCase()) < 0;
                if (searchName && searchPhone) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            }
        });
    });
</script>

<script type="text/javascript">
    var appointment;

    $("#Accept").click(function () {

        //console.log("APPOINTMENT");
        //console.log(appointment);

        //alert(lastFilter);

         $.ajax({
                type: "POST",
                url: '@Url.Action("ConfirmAppointment", "Appointments")',
             data: {
                 Id: appointment.Id
                },
                dataType: "json",
                success: function (data) {
                    if (data.result == "Success") {
                        $('#ModalTeste').modal('hide');

                        toastObj.show(toasts[0]);

                        GetData(lastFilter);
                        //window.location.href = '/Appointments/Index';
                    }
                    else {
                        alert("NOT FOUND");
                        $('#ModalTeste').modal('hide');
                    }
                },
                error: function (data) {
                    alert('ERRO')
                }
             });

        //var route = "/Appointments/TableData?status=";

        //var status = "Confirmed";

        //var result = route.concat(status);

        //$("#appointmentTable").load(result);
        ////window.location.href = '/Appointments/Index';

        console.log('works');
    });

    $("#Cancel").click(function () {
        $('#AreYouSure').show();
        $('#AcceptCancel').hide();
    });

    $("#AreYouSureCancel").click(function () {
        $('#AreYouSure').hide();
        $('#AcceptCancel').show();
    });

    $("#AreYouSureConfirm").click(function () {

           $.ajax({
                type: "POST",
                url: '@Url.Action("CancelAppointment", "Appointments")',
             data: {
                 Id: appointment.Id
                },
                dataType: "json",
                success: function (data) {
                    if (data.result == "Success") {
                        $('#ModalTeste').modal('hide');

                        toastObj.show(toasts[1]);

                        GetData(lastFilter);
                        //window.location.href = '/Appointments/Index';
                    }
                    else {
                        alert("NOT FOUND");
                        $('#ModalTeste').modal('hide');
                    }
                },
                error: function (data) {
                    alert('ERRO')
                }
             });
    });

    $(document).ready(function () {
        $('#AreYouSure').hide();

        //var lastFilter;

        //var appointments = @(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)));
        //console.log(appointments);

        //var route = "/Appointments/TableData";

        //$("#appointmentTable").load(route);



    });
</script>

<script>
    var lastFilter = 'All';

    $(document).on('click', '.listFilter', function (results) {

        //alert('click');
        console.log(results);

        var status = results.currentTarget.attributes[3].value;

        if (lastFilter == status) {
            //alert('Igual');
            return;
        }


        console.log('###STATUS###')
        console.log(status);

        GetData(status);

    });

    function GetData(status) {
        var scheduleObj = document.getElementById('schedule').ej2_instances[0];
        var currentSchedulerDate = scheduleObj.selectedDate;

        lastFilter = status;

        var ajax = new ej.base.Ajax('/Appointments/TableData' + '?status=' + status, 'GET', true);

        ajax.send().then(function (result) {

            //console.log(result);

            // append partial view controls into created element

            $("#appointmentTable").html(result);

            var scheduleNew = document.getElementById('schedule').ej2_instances[0];
            scheduleNew.selectedDate = currentSchedulerDate;

            //eval(document.getElementById('appointmentTable').querySelector('script').innerHTML);
        });
    };
</script>


