@{
    ViewData["Title"] = "Appointments";
}

<input type="button" class="btn listFilter" value="All" data-status="All" />
<div id="ViewDeTeste">
</div>

<script type="text/javascript">

    $(".listFilter").click(function () {

        //$('#ViewDeTeste').load("/Appointments/TesteView");

        //console.log($('#ViewDeTeste').load("/Appointments/TesteView"));

        var ajax = new ej.base.Ajax('/Appointments/TesteView', 'GET', true);

        ajax.send().then(function (result) {

            // append partial view controls into created element

            document.getElementById('ViewDeTeste').innerHTML = result;

            eval(document.getElementById('ViewDeTeste').querySelector('script').innerHTML);

        });

    });

</script>


