@model DrPet.Web.Models.AnimalViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="container h-100 mb-5 View">
    <div class="row h-100">
        <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
            <div class="d-table-cell align-middle">

                <div class="text-center mt-4">
                    <h1 class="h2">Add Animal</h1>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="m-sm-4">
                            <form method="post">
                                <div asp-validation-summary="ModelOnly"></div>

                                <div class="form-group">
                                    <label asp-for="Name" class="control-label"></label>
                                    <input asp-for="Name" class="form-control form-control">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Sex" class="control-label"></label>
                                    <br>
                                    <ejs-radiobutton id="Sex1" label="Male" value="Male" name="Sex" checked="true"></ejs-radiobutton>
                                    <ejs-radiobutton id="Sex2" label="Female" value="Female" name="Sex"></ejs-radiobutton>
                                    <span asp-validation-for="Sex" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Species" class="control-label"></label>
                                    <input asp-for="Species" class="form-control" />
                                    <span asp-validation-for="Species" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Breed" class="control-label"></label>
                                    <input asp-for="Breed" class="form-control" />
                                    <span asp-validation-for="Breed" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="DateOfBirth" class="control-label"></label>
                                    <input asp-for="DateOfBirth" class="form-control" />
                                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                </div>
                                <div class="text-center mt-3">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                    <a asp-action="Index" class="btn btn-success">Back to List</a>
                                </div>
                                <input type="hidden" asp-for="User.UserName" class="form-control" />
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

